body {
    font-family: monospace;
    margin: 0px;
}

.wikiactions ul {
    background-color: DarkSeaGreen;
    color: blue;
    margin: 0;
    padding: 6px;
    list-style-type: none;
    border-bottom: 1px solid #000;
}

.wikiactions li {
    display: inline;
    padding: .2em .4em;
}

div.index {
    padding-left: 3mm;
}