div {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.add {
	padding-left: 3mm;
	padding-bottom: 0mm;
	margin: 0 0 0 0;
}

div.box {
	border-width: thin;
	border-color: blue;
	border-style: solid;
}

p {
	margin: 0 0 0 0;
}

body {
	font-family: monospace;
	margin: 0px;
}

a {
	text-decoration: none
}

a:hover {
	color: red;
}

a.ref {
	font-size: x-small;
}

a.ref:link {
	color: green;
}

a.ref:hover {
	color: red;
}

a.txt:link {
	color: black;
}

a.txt:hover {
	color: red;
}

.wikiactions ul {
	background-color: DarkSeaGreen;
	color: blue;
	margin: 0;
	padding: 6px;
	list-style-type: none;
	border-bottom: 1px solid #000;
}

.wikiactions li {
	display: inline;
	padding: .2em .4em;
}

span.kw {
	font-weight: bold;
}

span.lab {
	font-style: italic;
}

span.constant {
    color: maroon;
}

span.comment {
	font-style: italic;
	color: red;
}

span.hide {
	display: none;
}

span.p1:hover {
	color: inherit;
	background-color: #BAFFFF;
}

span.p2:hover {
	color: inherit;
	background-color: #FFCACA;
}

span.p3:hover {
	color: inherit;
	background-color: #FFFFBA;
}

span.p4:hover {
	color: inherit;
	background-color: #CACAFF;
}

span.p5:hover {
	color: inherit;
	background-color: #CAFFCA;
}

span.p0:hover {
	color: inherit;
	background-color: #FFBAFF;
}

.default {
	background-color: white;
	color: black;
}

.default:hover {
	background-color: white;
	color: black;
}
